@model EfcoreLayout.Models.IncomeDetail

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/CutomerLayout.cshtml";
}

<h1>Income Details</h1>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfEmployment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfEmployment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrganizationType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrganizationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RetirementAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RetirementAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Application)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Application.ApplicationId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit"  asp-route-id="@Model.IncomeId">Edit</a> |
    
</div>
