@model EfcoreLayout.Models.Property

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/CutomerLayout.cshtml";
}

<h1>Property Details</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropertyNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PropertyArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PropertyArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pincode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pincode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfProperty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfProperty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimatedCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Application)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Application.ApplicationId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PropertyId">Edit</a> |
    </div>
