@model EfcoreLayout.Models.UserDetail
@{
    ViewData["Title"] = "CustomerPage";
    Layout = "~/Views/UserLogin/WelcomeLayout.cshtml";

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h3> PROFILE</h3>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ApplicationId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ApplicationId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MiddleName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MiddleName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Gender)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nationality)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nationality)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AadharNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AadharNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PanNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PanNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BankAccountNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BankAccountNumber)
            </dd>
        </dl>
    </div>
    
</body>
</html>
